*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-container{
    border: 1px solid black;
    border-radius: 1rem;
    max-width: 800px;
    margin: auto;
    margin-top: 10rem;
    padding: 2rem 1rem;
}

.flex{
    display: flex;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.form-left-area, .form-right-area{
    width: 50%;
}

.form-right-area{
    position: relative;
}

.form-right-area .sub-container{
    text-align: center;
}

.form{
    padding: 2rem;
}

input,select{
    outline: none;
    border: none;
}

.field-name,.field-DOB,.field-gender{
    border: 1px solid black;
    width: 12rem;
    margin: 0.6rem auto;
    border-radius: 10px;
    padding: 5px;
}

/* buttons */

.next-btn-container,.submit-btn-container{
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.back-btn-container{
    position: absolute;
    left: 10px;
}


.list-container .flex{
    margin: 2rem 0;
    margin-left: 5rem;
}


.list-container .flex p{
    margin: 0.4rem;
}


.circle-outlined{
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    border: 2px solid red;
    position: relative;
    cursor: pointer;
}

.circle-solid{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    background-color: tomato;
    position: absolute;
    left: 2.5px;
    top: 2px;
}

.active{
    display: block;
}

.unactive{
    display: none;
}

.contact-info div{
    margin: 1rem 0;
}

.contact-info input{
    width: 80%;
    padding: 0.6rem;
    border: 1px solid black;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

.review-subcontainer{
    width: 80%;
    margin: auto;
}

.review-subcontainer div{
    margin: 0.6rem  0;
    text-align: start;
}